*,
*::after,
*::before {
    box-sizing: border-box;
}

body {

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    /* margin: ;
    padding: ; */
    list-style: none;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 67px;
}

.header {
    background-image: url(../images/header__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    background-image: url(../images/header__decor.svg);
    bottom: -5px;
    left: 0;
    right: 0;
    height: 283px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(35%);
    z-index: 2;
}

header::after {
    content: "";
    position: absolute;
    background-image: url(../images/header__decor.svg);
    bottom: 12px;
    left: 0;
    right: 0;
    height: 453px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
}

.header__top {
    display: flex;
    align-items: center;
    padding: 57px, 0;
    gap: 100px;
    justify-content: flex-start;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}

.logo path {
    transition: fill .3s ease;

}

.logo:hover path {
    fill: #0093A1;
    transition: fill .3s ease;

}

.header__btn {
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    padding: 12px 71px;
    background-color: #262c27;
    border: none;
    cursor: pointer;
}

.header__content {
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__content__box {
    max-width: 660px;
    text-align: center;
    margin-right: 30px;
    margin-top: 195px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.header__title {
    text-transform: uppercase;
    margin-bottom: 20px;

    font-size: 64px;
    line-height: 71px;
    letter-spacing: 0em;
}

.header__text {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
}

.header__decor-text {
    position: absolute;
    bottom: 20px;
    color: #0093A1;
}

.header__decor-text--one {
    z-index: 1;
    right: 145px;
    bottom: -60px;
}

.header__decor-text--one,



.header__decor-text--two {
    font-family: 'Comfortaa', cursive;
    font-size: 130px;
    font-weight: 400;
    line-height: 145px;
    opacity: 0.3;
}

.header__decor-text--two {
    z-index: 4;
    left: 265px;
    bottom: -160px;
}

.header__decor-text--three {
    max-width: 360px;
    right: 145px;
    bottom: -122px;
    z-index: 4;
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
}

.info {
    background-image: url(../images/Info__BG__PNG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: -10px;
    bottom: 40px;
}

.info::before {
    content: "";
    position: absolute;
    height: 80px;
    background-color: #262c27;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY(-90px);
    z-index: 1;
}

.info__top {
    display: flex;
    gap: 80px;
    padding-top: 200px;
    margin-bottom: 65%;
}

.info__top-text {
    padding-top: 245px;
    width: 290px;
    color: #fff;
    position: relative;
}

.info__top-text-one {
    padding-bottom: 125px;
}

.info__top-text-two {
    border-bottom: 1px solid #fff;

}

.info__top--img {
    position: relative;
    z-index: 6;
}

.popup-btn {
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
}

.popup-btn span {
    padding-top: 12px;
    display: block;
    color: #fff;
}

.info__btn {
    bottom: 0;
    right: 0;
}

.info__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    color: #fff;
    padding-bo: 50px;
}

.info__specs-title {
    width: 250px;
}

.info__specs-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    width: 565px;
    font-weight: 700px;
}

.info__specs-item {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
}

.info__specs-caption {
    width: 185px;
}

/* BUY-- SECTION */
.buy {
    padding: 150px 0 0;
}

.buy__inner {
    display: flex;
    align-items: center;
    gap: 90px;
}

.buy__content {
    width: 510px;
}

.by__title {
    margin-bottom: 50px;
    color: #0093A1;
}

.buy__list {
    margin-bottom: 25px;
}

.buy__item {
    margin-bottom: 25px;
    width: 285px;
}

.buy__item:hover .buy__item-title {
    color: #0093A1;
}

.buy__item-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: color .3s;
}

.buy__price {
    position: absolute;
    left: 637px;
    top: 3407px;
    width: 201px;
    height: 199px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/Star\ 1.svg);
}

.buy__btn {
    font-family: "Comfortaa", cursive;
    font-size: 40px;
    font-weight: 700;
    color: #0093A1;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #0093A1;
    cursor: pointer;
    padding: 18px;
    text-align: center;
    max-width: 484px;
    width: 100%;
    transition: all .3s;
}

.buy__btn:hover {
    background-color: #B9C400;
    border-color: #B9C400;
    color: #262c27;
}

/* TECHNOLOGY SECTION */
.technology {
    margin-bottom: 150px;
}

.technology__top {
    background-image: url(/images/Tech_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.technology__top-inner {
    position: relative;
    min-height: 110vh;

}

.technology__btn {
    right: 350px;
    top: 50vh;
}

.technology__top-box {
    position: absolute;
    left: 0;
    bottom: 85px;
}

.technology__title {
    max-width: 470px;
    margin-bottom: 62px;
}

.technology__list {
    margin: 0;
    padding-left: 48px;
}